.dash-content {
  position: relative;
  width: fit-content;
  z-index: 100;
  /* z-index: 100;
  border: 2px solid red; */
  /* padding: 2rem; */
  /* height: 100%; */
}

.dash-header-row {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  gap: 2rem;
  overflow: hidden;
  /* border: 2px solid pink; */
}

.dash-header-row::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--secondaryBg);
  opacity: 65%;
  clip-path: polygon(0 15%, 100% 0, 100% 84%, 0% 100%);
  border-bottom-left-radius: 5%;
  border-top-left-radius: 12%;
  animation: scale_from_left 0.5s 1.5s forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes scale_from_left {
  100% {
    transform: scaleX(1) translateY(0.25rem) rotate(-2deg);
  }
}

.relative-mask-container {
  position: relative;
}

.dashboard-h1 {
  font-size: 10rem;
  z-index: 5;
  position: relative;
  /* border: 1px solid green; */
}

.dashboard-shadow {
  font-size: 10rem;
  position: absolute;
  top: 0.25rem;
  filter: blur(3px);
  opacity: 0;
  color: white;
  text-shadow: 1px 1px 10px var(--purple) 1px 1px 5px var(--black);
  animation: fadein 0.5s var(--delay) forwards;
}

.link-btn {
  position: relative;
  width: 250px;
  padding: 1rem;
  border-radius: 100rem;
  /* border: 2px solid white; */
  text-align: center;
  font-size: 1.3rem;
  white-space: nowrap;
  color: white;
  text-shadow: 1px 1px 1px var(--purple);
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.25rem;
  font-weight: 800;
  margin: 1.5rem;
  cursor: pointer;
  transition: 0.5s ease-out;
  border: none;
  outline: none;
  background: transparent;
}

.link-btn:hover {
  opacity: 75%;
  transform: scale(0.9, 1.2);
  transition: 0.15s ease-in;
  box-shadow: 1px 1px 1px black, 1px 1px 5px black, 1px 4px 20px black;
}

.link-btn h5 {
  position: relative;
  z-index: 5;
}

.link-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--darkgradientBg);
  opacity: 85%;
}

@media screen and (max-width: 1050px) {
  .dashboard-h1,
  .dashboard-shadow {
    font-size: 6.5rem;
  }
}

@media screen and (max-width: 650px) {
  .dashboard-h1,
  .dashboard-shadow {
    font-size: 3.15rem;
  }

  .dash-header-row {
  }

  .link-btn {
    width: auto;
    font-size: 1rem;
    display: hidden;
  }
}
