.alert-msg-row {
  text-align: center;
  height: 25px;
}

.alert-h3 {
  font-weight: 200;
  color: var(--mainColor);
  text-transform: capitalize;
}

.grid-content-row {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

@media screen and (max-width: 950px) {
  .grid-content-row {
    flex-direction: column;
  }
}
