.dash-overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.dash-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
}

.dash-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.55;
  background: black;
}

.dash-overlay-gallery {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-img-item {
  position: relative;
  height: 225px;
  width: 250px;
}

.gallery-img-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: lightgray;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 1px white, 1px 2px 4px black,
    1px 3px 5px rgba(255, 255, 255, 0.5);
  animation: fadein 0.5s var(--delay) forwards;
  opacity: 0;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.dash-gallery-img {
  height: 95%;
  width: 95%;
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 1050px) {
  .gallery-img-item {
    position: relative;
    height: 185px;
    width: 200px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .gallery-img-item {
    position: relative;
    height: 115px;
    width: 85px;
  }

  .dash-overlay-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
